* {
    box-sizing: border-box;
    background-color: rgb(12, 11, 11);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'orbitron';
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color:white;
}

.brand-title {
    font-size: 2rem;
    margin: .65rem;
    background-color: #333;
}

.navbar-links ul {
    margin: 0px;
    padding: 0px;
    display:flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    background-color: #333;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position:absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 22px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



@media (max-width: 400px) {
    .toggle-button  {       
        display: flex;
    }
    
    .navbar-links {
        display:none;
        width: 100%;
     }


    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display:flex;
    }

    .overlay {
        position:fixed;
        width:100%;
        top: 0;
        left: 0;
    }
}

    .logo1 {
        height: 300px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        border-radius: 360px;
    }

    .title {
        display: flex;
        justify-content:center;
        text-align: center;
        color:white;
        margin: 7px;
        margin-bottom: 25px;
    }
   

   .parallax1 {
       display: flex;
       justify-content: center;
       background-image: url(BG1.jpg);
       min-height: 50%;
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }

   .parallax2 {
    display: flex;
    justify-content: center;
    background-image: url(BG2.jpg);
    min-height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    display: flex;
    justify-content: center;
    background-image: url(BG3.jpg);
    min-height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactinfo {
    display: flex;
    flex-direction: column;
   
}

.fa {
    text-decoration: none;
  
    font-size: 30px;
    width: 50px;
    text-align:center;
    
}

.fa-facebook {
    background: #3b5998;
    color: white;
    border-radius: 360px;
}

.fa-twitter {
    background: #55Acee;
    color: white;
}
.fa-instagram {
    background: linear-gradient(120DEG,#1D89f4, #00db78,#f7bf18, #d33131);
    color: white;
}


.info {
text-decoration: none;
color: white;
align-self: center;
}

.stickybar {
    display:flex;
    justify-content: space-around;
    margin-top: 25px;
    align-content: center;
}


    